*.7z
*.cache
*.log
*.orig
*.pubxml
*.sha1
*.sublime-workspace
*.suo
*.user
*.zip
_NCrunch*
_ReSharper*
AssemblyInfo.cs
bin
obj
out
packages
previous_ndepend
tmp
app.config
nlog.config
web.config
validFromGeneration.config
.idea

!3rdparty/*
!3rdparty/vstools/bin
!packages/repositories.config
