<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.4.1" targetFramework="net40" />
  <package id="AutoFixture.AutoRhinoMocks" version="3.4.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="Shouldly" version="1.1.1.1" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>